/* Master Styles */
.ng-select.custom { border:0px; min-height: 0px; border-radius: 0;background-color: white; }
.ng-select.custom .ng-control { min-height: 0px; border-radius: 0;background-color: white; }
ng-select .ng-option { min-height: 0px; border-radius: 0;background-color: white; }
.ng-select-dropdown-outer .ng-select-dropdown .ng-option { background-color: white; color: #fff; }
.ng-select-dropdown-outer .ng-select-dropdown .ng-option.marked { background-color: white; ; color: #fff; }
.custom ng-template { background-color: white; }
