@import "~@ng-select/ng-select/themes/default.theme.css";

/* Master Styles */

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #888;
    margin-right: 10px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    margin-right: 10px;
}

.ng-select.custom .ng-select-container {
    border-radius: 0;
    border-color: #ccc;
}

.custom ng-template {
    background-color: white;
}

body {
    padding-top: 100px;
}

span.req {
    color: red;
}

.source-address {
    background-color: #f7f7f7;
    border-color: #ccc 1px solid;
    display: inline-block;
    padding: 4px;
    width: 100%;
}